In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dogs_clean.csv')

In [4]:
import json
primary = []
secondary = []
tertiary = []
for k,v in df.iterrows():    
    c = eval(v.colors)       
    primary.append(c['primary'])
    secondary.append(c['secondary'])
    tertiary.append(c['tertiary'])
    

df['primary'] = primary
df['secondary'] = secondary
df['tertiary'] = tertiary

df['primary'] = df.primary.str.split('/')
df['secondary'] = df.secondary.str.split('/')
df['tertiary'] = df.tertiary.str.split('/')

In [5]:
df['status'] = df.status.replace({"adoptable":"not_adopted"})

In [6]:
df['primary'] = df.primary.str.join(sep='')

In [7]:
df['primary'] = df.primary.str.join(sep='')
df['primary'] = df.primary.str.join(sep='')

In [8]:
blackmask = df.primary == 'Black'

In [9]:
black = pd.DataFrame(df[blackmask].status.value_counts())

In [10]:
non_black = pd.DataFrame(df[blackmask == False].status.value_counts())

In [11]:
black.sum()['status']

2069

In [12]:
black.loc['adopted','status']

194

In [13]:
df.groupby(['primary','status']).count()

                                              Unnamed: 0  Unnamed: 0.1  \
primary                          status
Apricot  Beige                   adopted              33            33
                                 found                 1             1
                                 not_adopted         311           311
Bicolor                          adopted              37            37
                                 not_adopted         340           340
Black                            adopted             194           194
                                 found                 3             3
                                 not_adopted        1872          1872
Brindle                          adopted              21            21
                                 found                 2             2
                                 not_adopted         391           391
Brown  Chocolate                 adopted              67            67
                                 found                 5             5
                                 not_adopted         614           614
Golden                           adopted              22            22
                                 not_adopted         144           144
Gray  Blue  Silver               adopted              36            36
                                 found                 3             3
                                 not_adopted         272           272
Harlequin                        adopted               1             1
                                 not_adopted          21            21
Merle (Blue)                     adopted               4             4
                                 not_adopted          65            65
Merle (Red)                      adopted               8             8
                                 not_adopted          45            45
Red  Chestnut  Orange            adopted              22            22
                                 found                 1             1
                                 not_adopted         287           287
Sable                            adopted               5             5
                                 not_adopted          40            40
Tricolor (Brown, Black, & White) adopted              58            58
                                 found                 1             1
                                 not_adopted         602           602
White  Cream                     adopted              55            55
                                 found                 4             4
                                 not_adopted         658           658
Yellow  Tan  Blond  Fawn         adopted              46            46
                                 not_adopted         333           333

                                              Unnamed: 0.1.1  \
primary                          status
Apricot  Beige                   adopted                  33
                                 found                     1
                                 not_adopted             311
Bicolor                          adopted                  37
                                 not_adopted             340
Black                            adopted                 194
                                 found                     3
                                 not_adopted            1872
Brindle                          adopted                  21
                                 found                     2
                                 not_adopted             391
Brown  Chocolate                 adopted                  67
                                 found                     5
                                 not_adopted             614
Golden                           adopted                  22
                                 not_adopted             144
Gray  Blue  Silver               adopted                  36
                                 found                     3
                                 not_adopted             272
Harlequin                        adopted                   1
                                 not_adopted              21
Merle (Blue)                     adopted                   4
                                 not_adopted              65
Merle (Red)                      adopted                   8
                                 not_adopted              45
Red  Chestnut  Orange            adopted                  22
                                 found                     1
                                 not_adopted             287
Sable                            adopted                   5
                                 not_adopted              40
Tricolor (Brown, Black, & White) adopted                  58
                                 found                     1
                                 not_adopted             602
White  Cream                     adopted                  55
                                 found                     4
                                 not_adopted             658
Yellow  Tan  Blond  Fawn         adopted                  46
                                 not_adopted             333

                                              Unnamed: 0.1.1.1  \
primary                          status
Apricot  Beige                   adopted                    33
                                 found                       1
                                 not_adopted               311
Bicolor                          adopted                    37
                                 not_adopted               340
Black                            adopted                   194
                                 found                       3
                                 not_adopted              1872
Brindle                          adopted                    21
                                 found                       2
                                 not_adopted               391
Brown  Chocolate                 adopted                    67
                                 found                       5
                                 not_adopted               614
Golden                           adopted                    22
                                 not_adopted               144
Gray  Blue  Silver               adopted                    36
                                 found                       3
                                 not_adopted               272
Harlequin                        adopted                     1
                                 not_adopted                21
Merle (Blue)                     adopted                     4
                                 not_adopted                65
Merle (Red)                      adopted                     8
                                 not_adopted                45
Red  Chestnut  Orange            adopted                    22
                                 found                       1
                                 not_adopted               287
Sable                            adopted                     5
                                 not_adopted                40
Tricolor (Brown, Black, & White) adopted                    58
                                 found                       1
                                 not_adopted               602
White  Cream                     adopted                    55
                                 found                       4
                                 not_adopted               658
Yellow  Tan  Blond  Fawn         adopted                    46
                                 not_adopted               333

                                              Unnamed: 0.1.1.1.1  breeds  \
primary                          status
Apricot  Beige                   adopted                      33      33
                                 found                         1       1
                                 not_adopted                 311     311
Bicolor                          adopted                      37      37
                                 not_adopted                 340     340
Black                            adopted                     194     194
                                 found                         3       3
                                 not_adopted                1872    1872
Brindle                          adopted                      21      21
                                 found                         2       2
                                 not_adopted                 391     391
Brown  Chocolate                 adopted                      67      67
                                 found                         5       5
                                 not_adopted                 614     614
Golden                           adopted                      22      22
                                 not_adopted                 144     144
Gray  Blue  Silver               adopted                      36      36
                                 found                         3       3
                                 not_adopted                 272     272
Harlequin                        adopted                       1       1
                                 not_adopted                  21      21
Merle (Blue)                     adopted                       4       4
                                 not_adopted                  65      65
Merle (Red)                      adopted                       8       8
                                 not_adopted                  45      45
Red  Chestnut  Orange            adopted                      22      22
                                 found                         1       1
                                 not_adopted                 287     287
Sable                            adopted                       5       5
                                 not_adopted                  40      40
Tricolor (Brown, Black, & White) adopted                      58      58
                                 found                         1       1
                                 not_adopted                 602     602
White  Cream                     adopted                      55      55
                                 found                         4       4
                                 not_adopted                 658     658
Yellow  Tan  Blond  Fawn         adopted                      46      46
                                 not_adopted                 333     333

                                              colors  secondary  tertiary
primary                          status
Apricot  Beige                   adopted          33         16         3
                                 found             1          0         0
                                 not_adopted     311        177        55
Bicolor                          adopted          37          6         5
                                 not_adopted     340        107        70
Black                            adopted         194        143        17
                                 found             3          2         0
                                 not_adopted    1872       1289       132
Brindle                          adopted          21          8         0
                                 found             2          2         0
                                 not_adopted     391        156        14
Brown  Chocolate                 adopted          67         35         5
                                 found             5          3         0
                                 not_adopted     614        324        25
Golden                           adopted          22          6         0
                                 not_adopted     144         65         4
Gray  Blue  Silver               adopted          36         23         2
                                 found             3          3         0
                                 not_adopted     272        141         7
Harlequin                        adopted           1          0         0
                                 not_adopted      21          3         1
Merle (Blue)                     adopted           4          1         0
                                 not_adopted      65          7         1
Merle (Red)                      adopted           8          2         0
                                 not_adopted      45         16         4
Red  Chestnut  Orange            adopted          22         13         0
                                 found             1          0         0
                                 not_adopted     287        139         5
Sable                            adopted           5          0         0
                                 not_adopted      40         16         1
Tricolor (Brown, Black, & White) adopted          58          3         0
                                 found             1          0         0
                                 not_adopted     602          6         0
White  Cream                     adopted          55         30         0
                                 found             4          2         0
                                 not_adopted     658        248         1
Yellow  Tan  Blond  Fawn         adopted          46          2         0
                                 not_adopted     333          5         0

# Black Dog Adopted %

In [14]:
black_percentage = black.loc['adopted','status']/black.sum()['status']

In [15]:
non_black_percentage = non_black.loc['adopted','status']/non_black.sum()['status']

In [16]:
non_black_percentage

0.0865540126038704

In [17]:
df.primary.value_counts()

Black                               2069
White  Cream                         717
Brown  Chocolate                     686
Tricolor (Brown, Black, & White)     661
Brindle                              414
Yellow  Tan  Blond  Fawn             379
Bicolor                              377
Apricot  Beige                       345
Gray  Blue  Silver                   311
Red  Chestnut  Orange                310
Golden                               166
Merle (Blue)                          69
Merle (Red)                           53
Sable                                 45
Harlequin                             22
Name: primary, dtype: int64

In [18]:
df.groupby(['status','primary']).count()

                                              Unnamed: 0  Unnamed: 0.1  \
status      primary
adopted     Apricot  Beige                            33            33
            Bicolor                                   37            37
            Black                                    194           194
            Brindle                                   21            21
            Brown  Chocolate                          67            67
            Golden                                    22            22
            Gray  Blue  Silver                        36            36
            Harlequin                                  1             1
            Merle (Blue)                               4             4
            Merle (Red)                                8             8
            Red  Chestnut  Orange                     22            22
            Sable                                      5             5
            Tricolor (Brown, Black, & White)          58            58
            White  Cream                              55            55
            Yellow  Tan  Blond  Fawn                  46            46
found       Apricot  Beige                             1             1
            Black                                      3             3
            Brindle                                    2             2
            Brown  Chocolate                           5             5
            Gray  Blue  Silver                         3             3
            Red  Chestnut  Orange                      1             1
            Tricolor (Brown, Black, & White)           1             1
            White  Cream                               4             4
not_adopted Apricot  Beige                           311           311
            Bicolor                                  340           340
            Black                                   1872          1872
            Brindle                                  391           391
            Brown  Chocolate                         614           614
            Golden                                   144           144
            Gray  Blue  Silver                       272           272
            Harlequin                                 21            21
            Merle (Blue)                              65            65
            Merle (Red)                               45            45
            Red  Chestnut  Orange                    287           287
            Sable                                     40            40
            Tricolor (Brown, Black, & White)         602           602
            White  Cream                             658           658
            Yellow  Tan  Blond  Fawn                 333           333

                                              Unnamed: 0.1.1  \
status      primary
adopted     Apricot  Beige                                33
            Bicolor                                       37
            Black                                        194
            Brindle                                       21
            Brown  Chocolate                              67
            Golden                                        22
            Gray  Blue  Silver                            36
            Harlequin                                      1
            Merle (Blue)                                   4
            Merle (Red)                                    8
            Red  Chestnut  Orange                         22
            Sable                                          5
            Tricolor (Brown, Black, & White)              58
            White  Cream                                  55
            Yellow  Tan  Blond  Fawn                      46
found       Apricot  Beige                                 1
            Black                                          3
            Brindle                                        2
            Brown  Chocolate                               5
            Gray  Blue  Silver                             3
            Red  Chestnut  Orange                          1
            Tricolor (Brown, Black, & White)               1
            White  Cream                                   4
not_adopted Apricot  Beige                               311
            Bicolor                                      340
            Black                                       1872
            Brindle                                      391
            Brown  Chocolate                             614
            Golden                                       144
            Gray  Blue  Silver                           272
            Harlequin                                     21
            Merle (Blue)                                  65
            Merle (Red)                                   45
            Red  Chestnut  Orange                        287
            Sable                                         40
            Tricolor (Brown, Black, & White)             602
            White  Cream                                 658
            Yellow  Tan  Blond  Fawn                     333

                                              Unnamed: 0.1.1.1  \
status      primary
adopted     Apricot  Beige                                  33
            Bicolor                                         37
            Black                                          194
            Brindle                                         21
            Brown  Chocolate                                67
            Golden                                          22
            Gray  Blue  Silver                              36
            Harlequin                                        1
            Merle (Blue)                                     4
            Merle (Red)                                      8
            Red  Chestnut  Orange                           22
            Sable                                            5
            Tricolor (Brown, Black, & White)                58
            White  Cream                                    55
            Yellow  Tan  Blond  Fawn                        46
found       Apricot  Beige                                   1
            Black                                            3
            Brindle                                          2
            Brown  Chocolate                                 5
            Gray  Blue  Silver                               3
            Red  Chestnut  Orange                            1
            Tricolor (Brown, Black, & White)                 1
            White  Cream                                     4
not_adopted Apricot  Beige                                 311
            Bicolor                                        340
            Black                                         1872
            Brindle                                        391
            Brown  Chocolate                               614
            Golden                                         144
            Gray  Blue  Silver                             272
            Harlequin                                       21
            Merle (Blue)                                    65
            Merle (Red)                                     45
            Red  Chestnut  Orange                          287
            Sable                                           40
            Tricolor (Brown, Black, & White)               602
            White  Cream                                   658
            Yellow  Tan  Blond  Fawn                       333

                                              Unnamed: 0.1.1.1.1  breeds  \
status      primary
adopted     Apricot  Beige                                    33      33
            Bicolor                                           37      37
            Black                                            194     194
            Brindle                                           21      21
            Brown  Chocolate                                  67      67
            Golden                                            22      22
            Gray  Blue  Silver                                36      36
            Harlequin                                          1       1
            Merle (Blue)                                       4       4
            Merle (Red)                                        8       8
            Red  Chestnut  Orange                             22      22
            Sable                                              5       5
            Tricolor (Brown, Black, & White)                  58      58
            White  Cream                                      55      55
            Yellow  Tan  Blond  Fawn                          46      46
found       Apricot  Beige                                     1       1
            Black                                              3       3
            Brindle                                            2       2
            Brown  Chocolate                                   5       5
            Gray  Blue  Silver                                 3       3
            Red  Chestnut  Orange                              1       1
            Tricolor (Brown, Black, & White)                   1       1
            White  Cream                                       4       4
not_adopted Apricot  Beige                                   311     311
            Bicolor                                          340     340
            Black                                           1872    1872
            Brindle                                          391     391
            Brown  Chocolate                                 614     614
            Golden                                           144     144
            Gray  Blue  Silver                               272     272
            Harlequin                                         21      21
            Merle (Blue)                                      65      65
            Merle (Red)                                       45      45
            Red  Chestnut  Orange                            287     287
            Sable                                             40      40
            Tricolor (Brown, Black, & White)                 602     602
            White  Cream                                     658     658
            Yellow  Tan  Blond  Fawn                         333     333

                                              colors  secondary  tertiary
status      primary
adopted     Apricot  Beige                        33         16         3
            Bicolor                               37          6         5
            Black                                194        143        17
            Brindle                               21          8         0
            Brown  Chocolate                      67         35         5
            Golden                                22          6         0
            Gray  Blue  Silver                    36         23         2
            Harlequin                              1          0         0
            Merle (Blue)                           4          1         0
            Merle (Red)                            8          2         0
            Red  Chestnut  Orange                 22         13         0
            Sable                                  5          0         0
            Tricolor (Brown, Black, & White)      58          3         0
            White  Cream                          55         30         0
            Yellow  Tan  Blond  Fawn              46          2         0
found       Apricot  Beige                         1          0         0
            Black                                  3          2         0
            Brindle                                2          2         0
            Brown  Chocolate                       5          3         0
            Gray  Blue  Silver                     3          3         0
            Red  Chestnut  Orange                  1          0         0
            Tricolor (Brown, Black, & White)       1          0         0
            White  Cream                           4          2         0
not_adopted Apricot  Beige                       311        177        55
            Bicolor                              340        107        70
            Black                               1872       1289       132
            Brindle                              391        156        14
            Brown  Chocolate                     614        324        25
            Golden                               144         65         4
            Gray  Blue  Silver                   272        141         7
            Harlequin                             21          3         1
            Merle (Blue)                          65          7         1
            Merle (Red)                           45         16         4
            Red  Chestnut  Orange                287        139         5
            Sable                                 40         16         1
            Tricolor (Brown, Black, & White)     602          6         0
            White  Cream                         658        248         1
            Yellow  Tan  Blond  Fawn             333          5         0

In [19]:
df.to_csv('dogs_clean.csv')